/* Define a flex container for the main row */
.flex-row {
    display: flex;
    justify-content: space-between; /* Spacing between the containers */
    align-items: center; /* Align vertically in the center */
}

/*CSS for artist container (on the left) */
.artist-info {
    border: 1px dotted #1a1a1a;
    width: 50%;
    padding: 20px;
    margin: 10px;
    background-color: rgba(24, 24, 24, 0.5);
    border: 15px groove rgb(187, 158, 84);
}
/* Style for the artwork container */
.artwork-container {
    width: 45%;
    padding: 10px;
    margin: 10px;
    background-color: rgba(24, 24, 24, 0.5);
    border: 15px groove rgb(187, 158, 84);
}


/* Artist Image */
.artist-img {
    max-width: 100%;
    height: auto;
    border: 2px solid #1a1a1a;
}

/* Style for larger screen */
@media (min-width: 768px) {
    .flex-row {
        justify-content: space-between;
    }

    .artist-info {
        width: 50%;
    }

    .artwork-container {
        width: 45%
    }
}
/* Style for smaller screens */
@media (max-width: 767px) {
    .flex-row {
        flex-direction: column;
    }

    .artist-info {
        width: 100%;
    }

    .artwork-container {
        width: 100%;
    }
    
}