/* Define a flex container for the main row */
.flex-row {
    display: flex;
    justify-content: space-between; /* Spacing between the containers */
    align-items: center; /* Align vertically in the center */
}

/*CSS for artist container (on the left) */
.artist-info {
    border: 1px dotted #1a1a1a;
    width: 50%;
    padding: 20px;
    margin: 10px;
    background-color: rgba(24, 24, 24, 0.5);
    border: 15px; 
    border-style: groove;
    border-color: rgb(187, 158, 84);
}
/* Style for the artwork container */
.artwork-container {
    width: 45%;
    padding: 10px;
    margin: 10px;
    background-color: rgba(24, 24, 24, 0.5);
    border: 15px; 
    border-style: groove;
    border-color: rgb(187, 158, 84);
}


/* Artist Image */
.artist-img {
    max-width: 100%;
    height: auto;
    border: 2px solid #1a1a1a;
}
