#artContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

/* % play better for sizing the images than px with shrinking the screen */
#art {
    border: 25px;
    border-style: groove;
    border-color: rgb(187, 158, 84);
    margin: 15px;
    width: 90%;

}
@media screen and (max-width:560px) {
    #artContainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
}

@media screen and (max-width:500px) {
    #artContainer {
        display: grid;
        grid-template-columns: 1fr;
    }
    #art {
        width: 100%;
    }
    
}